h1{
    color: red;
    background-color: bisque;
    text-align: center;
}

body{
    background-color: aliceblue;
    background-image: url(gradient-bokeh-digital-business-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

p{
    color:white;
    text-align: center;
}